<div class="card-item col">  
  <a href="{{ include.url | relative_url }}">  
    <div class="card hoverable">
      <div class="row g-0">        
        <div class="card-img col-sm-4">
          {% include figure.html path=include.img alt=include.name %}
        </div>
        <div class="col-sm-6">        
          <div class="card-body">
            <h5 class="card-title text-right">{{ include.name }}</h5>
            <p class="card-text text-right">{{ include.affiliation }}</p>                                                  
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
