---
layout: default
---
<!-- page.html -->
        <div class="post">

          <!-- <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header> -->
<!-- 
          <article>
            <div class="clearfix">
              <p><strong>Announcements</strong>:</p>
              <ul>
                <li>The track has concluded and accepted blogposts are viewable <a href="/2023/blog">here</a>!</li>
                <li>The poster session for the blog track will take place at <strong>11:30</strong> on <strong>Tuesday May 2nd</strong> in room <strong>MH1-2-3-4</strong>.
                  <ul>
                    <li>Check <a href="https://iclr.cc/virtual/2023/workshop/14478" target="_blank" rel="noopener noreferrer">here</a> for more information, and come by to check out the posters!</li>
                    <li>If you are going to be presenting a poster in-person, please add the <a href="/2023/assets/pdf/sticker.pdf">blog post track sticker</a> to your poster.</li>
                  </ul>
              </li>
            </ul> -->

            {{ content }}
          </article>

        </div>
